* {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

p {
  text-align: center; }

h2 {
  text-align: center; }

/*inicio*/
#inicio img {
  width: 100%; }

/*carousel*/
/*salon*/
#frase {
  background-color: black;
  padding-top: 60px;
  padding-bottom: 60px; }
  #frase h2 {
    text-align: center;
    color: white; }

/*contador*/
#contador {
  background-color: #e866ab; }
  #contador .landing {
    background-color: #e866ab;
    padding-top: 60px;
    padding-bottom: 50px; }
    #contador .landing p {
      text-align: center; }
    #contador .landing h1 {
      text-align: center; }
    #contador .landing .countdown {
      font-size: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; }
      #contador .landing .countdown div {
        padding: 20px;
        border: 1px #fff solid;
        border-radius: 10px;
        background: black;
        opacity: 0.7;
        margin: 5px; }
      #contador .landing .countdown div:first-child {
        background: #17a2b8; }
      #contador .landing .countdown span {
        display: block;
        font-size: 20px; }

/*asistencia*/
#rsvp {
  background-color: #17a2b8;
  padding-top: 60px;
  padding-bottom: 50px; }
  #rsvp img {
    display: block;
    width: 50px;
    margin-left: auto;
    margin-right: auto; }

/*salon*/
#salon {
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 50px;
  text-align: center;
  color: #ffffff; }

/*mapa*/
