* {
  box-sizing: border-box; }

p {
  text-align: center; }

.landing {
  background-color: #e866ab;
  padding-bottom: 50px; }
  .landing p {
    text-align: center; }
  .landing h1 {
    text-align: center; }
  .landing .countdown {
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .landing .countdown div {
      padding: 20px;
      border: 1px #fff solid;
      border-radius: 10px;
      background: black;
      opacity: 0.7;
      margin: 5px; }
    .landing .countdown div:first-child {
      background: #17a2b8; }
    .landing .countdown span {
      display: block;
      font-size: 25px; }

#donde {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }
