* {
    box-sizing: border-box;
}
*{ 
    margin: 0;
    padding: 0;    
  }


p{
    text-align: center;
}
h2{
    text-align: center;
}

/*inicio*/
#inicio{
    img{
        width: 100%;
    }
}

/*carousel*/

/*salon*/
#frase{
    background-color: black;
    padding-top: 60px;
    padding-bottom: 60px;
    h2{
        text-align: center;
        color: white;
    }
}


/*asistencia*/
#rsvp{
    background-color: #17a2b8;
    padding-top: 60px;
    padding-bottom: 50px;
    img{
        display: block;
        width: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*salon*/

#salon{
    background-color: rgb(31, 31, 31);
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
    color: #ffffff;

}

/*mapa*/
